{% load catalog_tags %}
<header class="header shop sticky-top" >
			<!-- Topbar -->
			<div class="topbar ">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-12 col-12" >
							<!-- Top Left -->
							<div class="top-left">
								{% include "tags/navigation.html" %}
							</div>
							<!--/ End Top Left -->
						</div>
						<div class="col-lg-8 col-md-12 col-12">
							<!-- Top Right -->
							<div class="right-content">
								<ul class="list-main">
									<li><i class="ti-location-pin"></i> Store location</li>
									<li><i class="ti-alarm-clock"></i> <a href="#">Daily deal</a></li>
									
									{% if user.is_authenticated %}
										<li>
											<i class="fa fa-user-circle-o" aria-hidden="true"></i>
											<a href="{% url 'my_account' %}">{{user.username |capfirst }}</a>
										</li>
										<li>
											<a href="{% url 'logout' %}">Logout</a>
										</li>
									{% else %}
										<a href="{% url 'register' %}">Sign Up</a>
										
										<li>
											<a href="{% url 'login' %}">Login</a>
										</li>
									{% endif %}
										
									</ul>
								
									
								
							</div>
							<!-- End Top Right -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<div class="middle-inner bg-warning shadow" >
				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-md-2 col-12">
							<!-- Logo -->
							<div class="logo">
								<a href="index.html"><img src="images/logo.png" alt="logo"></a>
							</div>
							<!--/ End Logo -->
							<!-- Search Form -->
							<div class="search-top" >
								<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
								<!-- Search Form -->
								<div class="search-top">
									<form class="search-form">
										<input type="text" placeholder="Search here..." name="search">
										<button value="search" type="submit"><i class="ti-search"></i></button>
									</form>
								</div>
								<!--/ End Search Form -->
							</div>
							<!--/ End Search Form -->
							<div class="mobile-nav"></div>
						</div>
						<div class="col-lg-8 col-md-7 col-12">
							<div class="search-bar-top">
								<div class="search-bar">
									<select>
										<option selected="selected">All Category</option>
										<option>watch</option>
										<option>mobile</option>
										<option>kid’s item</option>
									</select>
									<form>
										<input name="search" placeholder="Search Products Here....." type="search">
										<button class="btnn"><i class="ti-search"></i></button>
									</form>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-12">
							<div class="right-bar">
								{% cart_box request %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Header Inner -->
			{% comment %} <div class="header-inner">
				<div class="container">
					<div class="cat-nav-head">
						<div class="row">
							<div class="col-12">
								<div class="menu-area">
									{% include "tags/navigation.html" %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> {% endcomment %}
			<!--/ End Header Inner -->
		</header>
		<!--/ End Header -->